* {
  margin: 0;
  padding: 0;
}
/*body {
	background: #999;  
    font-family: 'Open Sans';
    font-size: 14px;
}*/
#page-wrap {
  width: 100%; 
  margin: 10px auto;
}



.tabs {
      position: relative;   
      min-height: 1180px; /* This part sucks */
      clear: both;
      margin: 10px 0;
      width: 100%;
    }
    .tab {
      float: left;
      margin:15px 0 0 0;
      width:auto;
    }
    .tab label { 
      margin-left: 0; 
      position: relative;
      left: 1px;
      cursor: pointer;
      font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    z-index:123;
    background-color: #f2f2f2;
    border-bottom: 1px solid #fff;
    border-right: 2px solid #fff;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    color: #888;    
    font-weight: 500;
    letter-spacing: 0;
    outline: medium none;
    padding: 11px 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
       
    }
        .tab  label {
        }
    /*.tab [type=radio] {
      display: none;   
    }*/
    .radio{
        display:none;
    }
    .content {
      position: absolute;
      top: 56px;
      left: 0;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      z-index:0;
      border: 1px solid #ccc; 

    }
   .tab-c {
        visibility: hidden;
    }
    [type=radio]:checked ~ label {
      background:#3175a4;
      color:#fff;
      border-bottom: 1px solid white;
      cursor: pointer;
      /*z-index: 2;*/
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    visibility: visible !important;
    }
.downloadsection1 {
    padding: 0 15px;
}
.dataRow1Cnt{
    display:inline-block;
    width:100%;
}
.dataRow{
    padding:0;
    float:left;
    text-align:left;
    width:7%;
    margin:0 0 0 0;
}
.dataRow2{
    padding:0;
    float:left;
    text-align:left;
    margin:0 0 0 0;
    width:8%;
    font-size:12px;
}
.dataRowMore{
    padding:0;
    float:left;
    text-align:left;
    margin:0 0 0 0;
    width:20%;
}
.downloadsection1Cnt {
    display: inline-block;
    width: 100%;
}
.dataRow_m1{
    margin:0 0 0 12px;
}
.dataRow_m2{
    margin:0 0 0 12px;
}
.dataRow_m3{
    margin:0 0 0 0;
}
.dataRow_m4{
    margin:0 0 0 2px;
}
.dataTables_wrapper label{
    padding:0px !important;
    background-color:transparent !important;
}