@charset "UTF-8";

/* CSS Document */

/* CSS for high-resolution devices */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
/*.metrics {
	background: #fff url(../images/test@2x.png) no-repeat scroll 120% center;
	background-size: 652px 383px;
}*/
    .bg-img-home {
        background: url(../img/home/home-bg-color@2x.png) no-repeat top / cover;
        background-size: 1920px 650px;
    }
    .bg-img-home-laptop {
        background: url(../img/home/imac-hero@2x.png) no-repeat top;
        height:100%;
        width:100%;
    }
.landingBlock {
	background: rgba(0, 0, 0, 0) url(../images/retina/main-cover@2x.jpg) no-repeat fixed center center / cover;
	height: 100%;
	min-height: 100%;
	width: 100%;
}
/*.whyMeltag {
	background: #586ede url("../images/whyMeltag_bg-v3@2x.jpg") no-repeat fixed right center / cover;
	background-size: 1920px 835px;
}*/
.featuresAdmin {
	background: #fff url("../images/retina/admin_bg_2x.jpg") no-repeat fixed right center / cover;
	background-size: 1920px 600px;
}
.scienceLab_placeholder1 {
	/*background: #fff url("../images/retina/scienceLabBg@2x.jpg") no-repeat center / cover;*/
	background-size: 1920px 876px;
}
/*.testDrive {
	background: #fafafa url("../images/retina/testDrive_bg@2x.jpg") no-repeat -12% 34%;
	;
	background-size: 654px 378px;
}*/
/* Solutions */

.solutionsIndustry {
	background: #fff url(../images/retina/industry-solutions.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
.solutionsDirectToCustomers {
	background: #fff url(../images/retina/customer-support-solutions.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
.solutionsTradePromotion {
	background: #fff url(../images/retina/trade-promotion-solutions.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
/* Services */
.meltagConnect {
	background: #fff url(../images/retina/meltag-connect.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
.meltagPromote {
	background: #fff url(../images/retina/meltag-promote.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
.meltagReward {
	background: #fff url(../images/retina/meltag-reward-promotions.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
.meltagManage {
	background: #fff url(../images/retina/meltag-manage.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
.meltagAnalyze {
	background: #fff url(../images/retina/meltag-analyze.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
/* Pricing */
.pricingHeaderBlock {
	background: #fff url(../images/retina/pricingHeaderBlock_bg@2x.jpg) no-repeat fixed center center / cover;
	background-size: 1920px 600px;
}
}
