@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ITR</title>
    <link href='http://fonts.googleapis.com/css?family=RobotoDraft:300,400,400italic,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 10]>
        <script src="assets/js/media.match.min.js"></script>
        <script src="assets/js/placeholder.min.js"></script>
    <![endif]-->
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/fonts/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">        <!-- Font Awesome -->
    <link href="~/assets/css/styles.css" type="text/css" rel="stylesheet">                                     <!-- Core CSS with all styles -->

    <link href="~/assets/plugins/jstree/dist/themes/avenger/style.min.css" type="text/css" rel="stylesheet">    <!-- jsTree -->
    <link href="~/assets/plugins/codeprettifier/prettify.css" type="text/css" rel="stylesheet">                <!-- Code Prettifier -->
    <link href="~/assets/plugins/iCheck/skins/minimal/blue.css" type="text/css" rel="stylesheet">              <!-- iCheck -->

    @*<link href="~/dashboard/fonts/brandon/stylesheet.css" rel="stylesheet" type="text/css" />*@
    <script src="~/dashboard/js/modernizr.js"></script> <!-- Modernizr -->
    @RenderSection("PagespecificCss", required: false)
    <style type="text/css">
        /*Added by Vishnu For bPopup*/
        #displayMessage {
            background-color: #fff !important;
            border-radius: 15px !important;
            color: #000 !important;
            box-shadow: 0 0 25px 5px #999;
            padding: 20px !important;
            min-width: 200px !important;
            min-height: 100px !important;
        }

        #displayMessageRed {
            background-color: #fff !important;
            border-radius: 15px !important;
            /*color:#000 !important;*/
            box-shadow: 0 0 25px 5px #999;
            padding: 20px !important;
            min-width: 200px !important;
            min-height: 100px !important;
        }

        .button.b-close, .button.bClose {
            color: #fff !important;
            background-color: #64a9d1 !important;
            border-radius: 7px !important;
            box-shadow: none !important;
            font: bold 131% sans-serif !important;
            padding: 0 6px 2px !important;
            position: absolute !important;
            right: -7px !important;
            top: -7px !important;
            cursor: pointer;
        }

        .hide_column {
            display: none;
        }

        .modal1 {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }

        .center {
            z-index: 1000;
            margin: 300px auto;
            padding: 10px;
            width: 130px;
            background-color: White;
            border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
        }

            .center img {
                height: 110px;
                width: 110px;
            }

        .form-control {
            padding: 2px 5px;
        }
        body{
     font-family:'Open Sans' !important;
    }
    </style>
</head>

<body class="infobar-offcanvas sidebar-hideon-collpase sidebar-scroll">


    <header id="topnav" class="navbar navbar-midnightblue navbar-fixed-top clearfix" role="banner">

        <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
            <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar"><span class="icon-bg">
                <i class="fa fa-fw fa-bars"></i></span></a>
        </span>

        <span class="c-text">ITR ECONOMICS</span>
        <ul class="nav navbar-nav toolbar pull-right">
            <li class="dropdown toolbar-icon-bg">
                <a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="fa fa-fw fa-user"></i></span></a>
                <ul class="dropdown-menu userinfo arrow">
                    <li><a href="#"><span class="pull-left">Profile</span> <i class="pull-right fa fa-user"></i></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="pull-left">Sign Out</span> <i class="pull-right fa fa-sign-out"></i></a></li>
                </ul>
            </li>
        </ul>
    </header>

    <div id="wrapper">
        <div id="layout-static">
            <div class="static-sidebar-wrapper sidebar-midnightblue">
                <div class="static-sidebar">
                    <div class="sidebar">
                        <div class="widget stay-on-collapse" id="widget-welcomebox">
                            <div class="widget-body welcome-box tabular">
                                <div class="tabular-row">
                                    <img src="~/img/home/logo-header.png" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <div class="widget stay-on-collapse" id="widget-sidebar">
                            <nav role="navigation" class="widget-body">
                                <ul class="acc-menu">
                                    <li class="nav-separator">Explore</li>
                                    <li><a href="~/DatacastHome/DashboardWidgets"><i class="fa fa-th-large"></i><span>Dashboard</span></a></li>
                                    <li><a href="~/Home/Dashboard"><i class="fa fa-upload"></i><span>Data Upload</span></a></li>
                                    <li><a href="~/DatacastHome/DataCast"><i class="fa fa-bar-chart-o"></i><span>Analysis</span></a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
           
             <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                       
                            @RenderBody()
                     

                        <!--Dispaly Error details/ Alert Message start-->
                        <div id="displayMessage" style="display: none">
                            <!--Add the InnerText at runtime -->
                        </div>
                        <div id="displayMessageRed" style="display: none; color: red;">
                            <!--Add the InnerText at runtime -->
                        </div>
                        <!--Dispaly Error details/ Alert Message end-->


                    </div> <!-- #page-content -->
                </div>
                <footer role="contentinfo">
                    <div class="clearfix">
                        <ul class="list-unstyled list-inline pull-left">
                            <li><h6 style="margin: 0;"> &copy; 2018 DataCast</h6></li>
                        </ul>
                        <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
                    </div>
                </footer>
            </div>
        </div>
    </div>






    <!-- Load site level scripts -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

    <script src="~/assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
    <script src="~/assets/js/jqueryui-1.9.2.min.js"></script> 							<!-- Load jQueryUI -->

    <script src="~/assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->


    <script src="~/assets/plugins/easypiechart/jquery.easypiechart.js"></script> 		<!-- EasyPieChart-->
    <script src="~/assets/plugins/sparklines/jquery.sparklines.min.js"></script>  		<!-- Sparkline -->
    <script src="~/assets/plugins/jstree/dist/jstree.min.js"></script>  				<!-- jsTree -->

    <script src="~/assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
    <script src="~/assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->

    <script src="~/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

    <script src="~/assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->

    <script src="~/assets/js/enquire.min.js"></script> 									<!-- Enquire for Responsiveness -->

    <script src="~/assets/plugins/bootbox/bootbox.js"></script>							<!-- Bootbox -->

    <script src="~/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->

    <script src="~/assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script> 	<!-- Mousewheel support needed for jScrollPane -->

    <script src="~/assets/js/application.js"></script>

    <!-- End loading site level scripts -->
    <!-- Load page level scripts-->




    <script src="~/js/common-scripts-dev.js"></script>

    @RenderSection("PageSpecificScript", required: false)
    <script type="text/javascript">

        $(document).ready(function () {
            ////Added By:Vishnu for Assigning the company and division id in Localstorage for further use in remaining pages
            //var _companyId = $("#hdnCompanyID").val();
            //var _divisionId = $("#hdnDivisionID").val();
            //var _userId = $("#hdnUserID").val();
            //window.localStorage.setItem('CompanyID', _companyId);
            //window.localStorage.setItem('DivisionID', _divisionId);
            //window.localStorage.setItem('UserID', _userId);


            RegisterPopupScript();//For Popup script
            //bPopup script Added By Vishnu, to overwrite regular browser alerts
            function RegisterPopupScript() {
                (function (c) { c.fn.bPopup = function (A, E) { function L() { a.contentContainer = c(a.contentContainer || b); switch (a.content) { case "iframe": var d = c('<iframe class="b-iframe" ' + a.iframeAttr + "></iframe>"); d.appendTo(a.contentContainer); t = b.outerHeight(!0); u = b.outerWidth(!0); B(); d.attr("src", a.loadUrl); l(a.loadCallback); break; case "image": B(); c("<img />").load(function () { l(a.loadCallback); F(c(this)) }).attr("src", a.loadUrl).hide().appendTo(a.contentContainer); break; default: B(), c('<div class="b-ajax-wrapper"></div>').load(a.loadUrl, a.loadData, function (d, b, e) { l(a.loadCallback, b); F(c(this)) }).hide().appendTo(a.contentContainer) } } function B() { a.modal && c('<div class="b-modal ' + e + '"></div>').css({ backgroundColor: a.modalColor, position: "fixed", top: 0, right: 0, bottom: 0, left: 0, opacity: 0, zIndex: a.zIndex + v }).appendTo(a.appendTo).fadeTo(a.speed, a.opacity); C(); b.data("bPopup", a).data("id", e).css({ left: "slideIn" == a.transition || "slideBack" == a.transition ? "slideBack" == a.transition ? f.scrollLeft() + w : -1 * (x + u) : m(!(!a.follow[0] && n || g)), position: a.positionStyle || "absolute", top: "slideDown" == a.transition || "slideUp" == a.transition ? "slideUp" == a.transition ? f.scrollTop() + y : z + -1 * t : p(!(!a.follow[1] && q || g)), "z-index": 99999999 + v + 1 }).each(function () { a.appending && c(this).appendTo(a.appendTo) }); G(!0) } function r() { a.modal && c(".b-modal." + b.data("id")).fadeTo(a.speed, 0, function () { c(this).remove() }); a.scrollBar || c("html").css("overflow", "auto"); c(".b-modal." + e).unbind("click"); f.unbind("keydown." + e); k.unbind("." + e).data("bPopup", 0 < k.data("bPopup") - 1 ? k.data("bPopup") - 1 : null); b.undelegate(".bClose, ." + a.closeClass, "click." + e, r).data("bPopup", null); clearTimeout(H); G(); return !1 } function I(d) { y = k.height(); w = k.width(); h = D(); if (h.x || h.y) clearTimeout(J), J = setTimeout(function () { C(); d = d || a.followSpeed; var e = {}; h.x && (e.left = a.follow[0] ? m(!0) : "auto"); h.y && (e.top = a.follow[1] ? p(!0) : "auto"); b.dequeue().each(function () { g ? c(this).css({ left: x, top: z }) : c(this).animate(e, d, a.followEasing) }) }, 50) } function F(d) { var c = d.width(), e = d.height(), f = {}; a.contentContainer.css({ height: e, width: c }); e >= b.height() && (f.height = b.height()); c >= b.width() && (f.width = b.width()); t = b.outerHeight(!0); u = b.outerWidth(!0); C(); a.contentContainer.css({ height: "auto", width: "auto" }); f.left = m(!(!a.follow[0] && n || g)); f.top = p(!(!a.follow[1] && q || g)); b.animate(f, 250, function () { d.show(); h = D() }) } function M() { k.data("bPopup", v); b.delegate(".bClose, ." + a.closeClass, "click." + e, r); a.modalClose && c(".b-modal." + e).css("cursor", "pointer").bind("click", r); N || !a.follow[0] && !a.follow[1] || k.bind("scroll." + e, function () { if (h.x || h.y) { var d = {}; h.x && (d.left = a.follow[0] ? m(!g) : "auto"); h.y && (d.top = a.follow[1] ? p(!g) : "auto"); b.dequeue().animate(d, a.followSpeed, a.followEasing) } }).bind("resize." + e, function () { I() }); a.escClose && f.bind("keydown." + e, function (a) { 27 == a.which && r() }) } function G(d) { function c(e) { b.css({ display: "block", opacity: 1 }).animate(e, a.speed, a.easing, function () { K(d) }) } switch (d ? a.transition : a.transitionClose || a.transition) { case "slideIn": c({ left: d ? m(!(!a.follow[0] && n || g)) : f.scrollLeft() - (u || b.outerWidth(!0)) - 200 }); break; case "slideBack": c({ left: d ? m(!(!a.follow[0] && n || g)) : f.scrollLeft() + w + 200 }); break; case "slideDown": c({ top: d ? p(!(!a.follow[1] && q || g)) : f.scrollTop() - (t || b.outerHeight(!0)) - 200 }); break; case "slideUp": c({ top: d ? p(!(!a.follow[1] && q || g)) : f.scrollTop() + y + 200 }); break; default: b.stop().fadeTo(a.speed, d ? 1 : 0, function () { K(d) }) } } function K(d) { d ? (M(), l(E), a.autoClose && (H = setTimeout(r, a.autoClose))) : (b.hide(), l(a.onClose), a.loadUrl && (a.contentContainer.empty(), b.css({ height: "auto", width: "auto" }))) } function m(a) { return a ? x + f.scrollLeft() : x } function p(a) { return a ? z + f.scrollTop() : z } function l(a, e) { c.isFunction(a) && a.call(b, e) } function C() { z = q ? a.position[1] : Math.max(0, (y - b.outerHeight(!0)) / 2 - a.amsl); x = n ? a.position[0] : (w - b.outerWidth(!0)) / 2; h = D() } function D() { return { x: w > b.outerWidth(!0), y: y > b.outerHeight(!0) } } c.isFunction(A) && (E = A, A = null); var a = c.extend({}, c.fn.bPopup.defaults, A); a.scrollBar || c("html").css("overflow", "hidden"); var b = this, f = c(document), k = c(window), y = k.height(), w = k.width(), N = /OS 6(_\d)+/i.test(navigator.userAgent), v = 0, e, h, q, n, g, z, x, t, u, J, H; b.close = function () { r() }; b.reposition = function (a) { I(a) }; return b.each(function () { c(this).data("bPopup") || (l(a.onOpen), v = (k.data("bPopup") || 0) + 1, e = "__b-popup" + v + "__", q = "auto" !== a.position[1], n = "auto" !== a.position[0], g = "fixed" === a.positionStyle, t = b.outerHeight(!0), u = b.outerWidth(!0), a.loadUrl ? L() : B()) }) }; c.fn.bPopup.defaults = { amsl: 50, appending: !0, appendTo: "body", autoClose: !1, closeClass: "b-close", content: "ajax", contentContainer: !1, easing: "swing", escClose: !0, follow: [!0, !0], followEasing: "swing", followSpeed: 500, iframeAttr: 'scrolling="no" frameborder="0"', loadCallback: !1, loadData: !1, loadUrl: !1, modal: !0, modalClose: !0, modalColor: "transparent", onClose: !1, onOpen: !1, opacity: .7, position: ["auto", "auto"], positionStyle: "absolute", scrollBar: !0, speed: 250, transition: "fadeIn", transitionClose: !1, zIndex: 9997 } })(jQuery);
            }

            $("#btnBeforeDashboard").click(function (e) {
                e.preventDefault();
                ajaxindicatorstart();
                $("#btnAfterDashboard")[0].click();
            });

            $("#btnBeforeUpload").click(function (e) {
                e.preventDefault();
                ajaxindicatorstart();
                $("#btnAfterUpload")[0].click();
            });


            $("#btnBeforeDatacast").click(function (e) {
                e.preventDefault();
                ajaxindicatorstart();
                $("#btnAfterDatacast")[0].click();
            });


            //Loader start
            function ajaxindicatorstart() {
                if ($('body').find('#loadingDiv').attr('id') != 'loadingDiv') {
                    var loadingString = '<div id="loadingDiv" class="modal1 loaderAssessment"><div id="loading-image" class="center"><img src="../img/home/loader.gif" alt="Loading..." /></div></div>';
                    $('body').append(loadingString);
                    $('#loadingDiv .bg').height('100%');
                    $('#loadingDiv').fadeIn(300);
                    $('body').css('cursor', 'wait');
                }
            };

            function ajaxindicatorstop() {
                $('#loadingDiv .bg').height('100%');
                $('#loadingDiv').remove();
                $('body').css('cursor', 'default');
            }

            $(document).ajaxStart(function () {
                //show ajax indicator 3
                ajaxindicatorstart();
            }).ajaxStop(function () {
                //hide ajax indicator
                ajaxindicatorstop();
            });

            //Loader End



        });
    </script>

    <script type="text/javascript">
        $(".cd-side-nav").hover(
    function () {
        $(".content-wrapper").toggleClass("main_Cnt");
    }
    );
    </script>

    <!-- End loading page level scripts-->

</body>




</html>
